# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/modules.xml
/misc.xml
/jarRepositories.xml
/sonarlint/securityhotspotstore/index.pb
/sonarlint/issuestore/index.pb
/encodings.xml
/crypto-analiziton.iml
/compiler.xml
/sonarlint/issuestore/c/2/c260ee8e02bf0d4ac589dc2ffdc341609c98f777
/sonarlint/securityhotspotstore/c/2/c260ee8e02bf0d4ac589dc2ffdc341609c98f777
/uiDesigner.xml
/sonarlint/securityhotspotstore/7/d/7d163e16eafa15200215b6f04671d4022b14c06e
/sonarlint/securityhotspotstore/e/2/e2f3523f658f3936ac034c6dcfd5bc94d7dd555d
/sonarlint/issuestore/e/2/e2f3523f658f3936ac034c6dcfd5bc94d7dd555d
/sonarlint/issuestore/7/d/7d163e16eafa15200215b6f04671d4022b14c06e
